#excel, #modifier {
    -fx-background-color: #99CCCC; /* Couleur bleu ciel */
}

#supprimer, #ban {
    -fx-background-color: #FF7F7F; /* Couleur rouge */
}
.root {
    -fx-background-color: DARKCYAN;
}
.anchor-pane {
    -fx-background-color: #CCCCCC; /* Couleur gris */
}