.button
{
-fx-background-color :  #DDE6E8;
-fx-text-fill : #003049;
}
.button:hover{
-fx-background-color : #EFFCFF;
}
.button:pressed
{
-fx-background-color :  #9CCBD6;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
.shadowed-accordion {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 2);
    /* Modifiez les valeurs selon vos préférences */
}
.shadowed-sidebar {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 2);
    /* Modifiez les valeurs selon vos préférences */
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
     -fx-background-color: linear-gradient(to right, #71CBDF, #9CCBD6,#B1EEE5);
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}
.invisibleBox{
    -fx-background-color: transparent;
}

.topBar{
    -fx-background-radius: 25 25 0 0;
    -fx-background-color: #FFCCBC;
}

.background{
    -fx-background-color:  #FFCCBC;
    -fx-background-radius: 25;
}


.chart{
    -fx-background-color: #FFCCBC;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-legend-visible: false;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color:transparent;
}
.date-picker .arrow-button {
	-fx-background-color:  #B0B5D6;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color:  #B0B5D6;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: #B0B5D6;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color:  #B0B5D6;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color:  #B0B5D6;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill:  #B0B5D6;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}

.default-color0.chart-series-line { -fx-stroke: #9ccbd6; }
.default-color1.chart-series-line { -fx-stroke: #003049; }
.default-color2.chart-series-line { -fx-stroke:  #FFCCBC; }